<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title id="aapp">
        <%- data[0].title.replace(/\<aPpCan\/\>/g,'') %>
    </title>
    <meta name="keywords" content="MEAP移动应用开发平台,EMM移动应用管理平台,AppCan企业移动平台,移动云平台,SDK,MAS,MBaaS,MCM,MAM,MEM" />
    <meta name="description" content="AppCan产品&服务包括MEAP移动应用开发平台、EMM移动应用管理平台、企业移动平台安全体系、移动云平台等。">
    <meta name="author" content="">
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
    <link href="http://appcan.cn/css/newHeader-tomobi.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/footer-tomobi.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/appcanstyle.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/appcanmain.css" rel="stylesheet" />
    <link href="/css/newslist.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://appcan.cn/js/sso.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<% 
    var cn='';
    if(95==data[0].son_template_id) cn='行业资讯';
    if(94==data[0].son_template_id) cn='官方新闻';
    if(116==data[0].son_template_id) cn='精彩活动';

    function fm(a,b){
        var box='';
        var y=a.getFullYear();
        var m=a.getMonth()+1;
        var d=a.getDate();
        m=m<10?('0'+m.toString()):m;
        d=d<10?('0'+d.toString()):d;
        return y+b+m+b+d;
    }
%>

<body>

    <div class="to-scroll">
        <% include ./FooterAndHeader/newHeader-tomobi.html %>
        <div class="navbar navbar-duomi navbar-static-top" role="navigation">
            <div class=" navbar-end" >
            </div>
        </div>
        <div class="container container-body ">
            <div class="row">
                <div class="col-md-3 col-md-3-pad hidden-sm hidden-xs" style="padding-left:15px;padding-right:15px">
                    <% include news_menu.html %>
                </div>
                <div id="content-div" class="col-md-9" style="padding-right:0;padding-left:0">
                    <div class="selected" id="listnews">
                    	<span style="color:#666666" class="span-bl"><a style="color:#666666;font:strong;margin-left:10px;">新闻活动</a>&nbsp;&gt;<a style="color:#666666"><%= cn %></a>&nbsp;</span>
                    	<span class="span-bl">
                    		<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
                                <div style="text-align:center;display:block; font-size: 18px; font-weight: bold;">                      
                                   <%= data[0].title.replace(/&nbsp;((?=style\=)|(?=src)|(?=alt))/g,' ').replace(/\/3g2winapi/g,"http\:\/\/www\.3g2win\.com\/3g2winapi").replace(/\<aPpCan\/\>/g,'') %>
                                </div>
                                <div style="text-align:center;display:block;"><%= fm(data[0].created_at,'-') %></div>
                    			<%- data[0].content.replace(/&nbsp;((?=style\=)|(?=src)|(?=alt))/g,' ').replace(/\/3g2winapi/g,"http\:\/\/www\.3g2win\.com\/3g2winapi").replace(/\<aPpCan\/\>/g,'') %>
                                <li id="mypage">
                                    <span class="ij0"><a id="cut1" href="<% if(add.prev_id!=0){ %>/news/<%= lanmu %>/<%= add.prev_id %><%}else{%>javascript:;<%}%>" title="<%= add.prev_title.replace(/\<aPpCan\/\>/g,'')%>">上一篇：<%-add.prev_title.replace(/\<aPpCan\/\>/g,'') %></a></span> | <span class="ij"><a id="cut2" href="<% if(add.next_id!=0){ %>/news/<%= lanmu %>/<%= add.next_id %><%}else{%>javascript:;<%}%>"  title="<%= add.next_title.replace(/\<aPpCan\/\>/g,'')%>">下一篇：<%-add.next_title.replace(/\<aPpCan\/\>/g,'') %></a></span>

                                    <!-- JiaThis Button BEGIN -->
                                    <div class="jiathis_style">
                                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis1.gif" border="0" /></a>
                                    </div>
                                    <script type="text/javascript" >
                                    var jiathis_config={
                                        summary:"",
                                        siteNum:5,
                                        sm:"tsina,weixin,cqq,qzone,copy",
                                        shortUrl:false,
                                        hideMore:true

                                    }
                                    </script>
                                    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
                                    <!-- JiaThis Button END -->
                                </li>
                                
                    		</ul>
                    	</span>
                    </div>
                    <div id="AProject" style="display:none">
                    </div>
                </div>
            </div>
        </div>
        

        <% include ./FooterAndHeader/footer-tomobi.html %>
    </div>
</body>
<script>
    var cut1=$('#cut1').html();
    var cut2=$('#cut2').html();
    if(cut1.length>25){$('#cut1').html(cut1.slice(0,25)+'...')}
    if(cut2.length>25){$('#cut2').html(cut2.slice(0,25)+'...')}
    $('.jiathis_style').click(function(event) {
        return false;
    });
</script>
</html>