<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
    <li>
        <a style="font-size:16px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;">
        新闻活动        
    </a>
    </li>
    <li class="div-select">
        <a href="/news/hyzx" style="background:#fff" class="nav-header collapsed">
        行业资讯
        <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
    </a>
    </li>
    <li class="div-select">
        <a href="/news/gfxw" style="background:#fff" class="nav-header collapsed">
        官方新闻
        <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
    </a>
    </li>
    <li class="div-select">
        <a class="nav-header collapsed" style="background:#fff" href="/news/jchd">
        精彩活动
                      <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
    </a>
    </li>
    <li>
        <a class="nav-header collapsed" data-toggle="collapse" style="font-size:18px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;">
    &nbsp;
    </a>
    </li>
</ul>