<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title id="aapp">
        <%= title %>
    </title>
    <meta name="keywords" content="MEAP移动应用开发平台,EMM移动应用管理平台,AppCan企业移动平台,移动云平台,SDK,MAS,MBaaS,MCM,MAM,MEM" />
    <meta name="description" content="AppCan产品&服务包括MEAP移动应用开发平台、EMM移动应用管理平台、企业移动平台安全体系、移动云平台等。">
    <meta name="author" content="">
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
    <link href="http://appcan.cn/css/newHeader-tomobi.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/footer-tomobi.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/appcanstyle.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/appcanmain.css" rel="stylesheet" />
    <link href="/css/newslist.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://appcan.cn/js/sso.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="to-scroll">
        <% include ./FooterAndHeader/newHeader-tomobi.html %>
        <div class="navbar navbar-duomi navbar-static-top" role="navigation">
            <div class=" navbar-end">
            </div>
        </div>
        <div class="container container-body ">
            <div class="row">
                <div class="col-md-3 col-md-3-pad hidden-sm hidden-xs" style="padding-left:15px;padding-right:15px">
                    <% include ./productSystem_menu.html %>
                </div>
                <div id="Content" class="col-md-9 col-sm-12 col-xs-12" style="padding-left:15px;padding-right:15px">
                    <div id="cont_Title" class="t-73 ulev85">
                        <%- test.replace(/&nbsp;((?=style\=)|(?=src)|(?=alt))/g,' ').replace(/\/3g2winapi/g,"http\:\/\/www\.3g2win\.com\/3g2winapi") %>
                    </div>
                    
                </div>
            </div>
        </div>

        <% include ./FooterAndHeader/footer-tomobi.html %>


    </div>
</body>
<script>
$(function () {
	var u=location.href;
	var reg=/\/(\d+)$/;
	reg.test(u);
	var mc=RegExp.$1;
	

	if ((mc==113)||(mc==115)||(mc==266)||(mc==323)) {$('#cat1').addClass('in');$('.xiala1').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');};
	if ((mc==381)||(mc==116)||(mc==137)||(mc==324)||(mc==325)||(mc==346)||(mc==267)) {$('#cat2').addClass('in');$('.xiala2').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');};
    if (mc==113) {$('.a1').addClass('on1')};
    if (mc==267) {$('.a2').addClass('on1')};
    if (mc==326) {$('.a3').addClass('on1')};
    $('.a1,.a2,a3').click(function(event) {
        if (!$(this).next().hasClass('in')) {
            $(this).children('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
        }else{
            $(this).children('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
        }
        
    });
})
</script>
</html>