<ul id="new-main-nav">
    <li class="eq0">产品体系</li>
    <li class="eq add"><a href="#">AppCan 移动平台</a></li>
    <li class="eq ls a1" data-toggle="collapse" data-target="#cat1"><a href="/productSystem/113">AppCan MEAP企业移动应用平台</a><i class="pull-right glyphicon glyphicon-chevron-right xiala1"></i></li>
    <li id="cat1" class="rat collapse">
        <a class="asd1 <%if(id==115){%>on<%}%>" href="/productSystem/115">&nbsp;-SDK 移动应用开发系统</a>
        <a class="asd1 <%if(id==266){%>on<%}%>" href="/productSystem/266">&nbsp;-MAS 移动业务整合系统</a>
        <a class="asd1 <%if(id==323){%>on<%}%>" href="/productSystem/323">&nbsp;-MBaaS 移动后端服务系统</a>      
    </li>
    <li class="eq ls a2" data-toggle="collapse" data-target="#cat2"><a href="/productSystem/267">AppCan EMM企业移动管理平台</a><i class="pull-right glyphicon glyphicon-chevron-right xiala2"></i></li>
    <li id="cat2" class="rat collapse">
        <a class="asd1 <%if(id==381){%>on<%}%>" href="/productSystem/381">&nbsp;-EAS 移动应用商店</a>
        <a class="asd1 <%if(id==116){%>on<%}%>" href="/productSystem/116">&nbsp;-MDM 移动设备管理系统</a>
        <a class="asd1 <%if(id==137){%>on<%}%>" href="/productSystem/137">&nbsp;-MCM 移动内容管理系统</a>      
        <a class="asd1 <%if(id==324){%>on<%}%>" href="/productSystem/324">&nbsp;-MAM 移动应用管理系统</a>      
        <a class="asd1 <%if(id==325){%>on<%}%>" href="/productSystem/325">&nbsp;-MEM 移动邮件管理系统</a>    
        <a class="asd1 <%if(id==346){%>on<%}%>" href="/productSystem/346">&nbsp;-MUM 移动用户管理系统</a>    
    </li>
    <li class="eq ls rat a3"><a href="/productSystem/326">AppCan企业移动平台安全体系</a><i class="pull-right glyphicon glyphicon-chevron-right"></i></li>
    <li class="eq add"><a href="/productSystem/354">AppCan 移动云平台</a></li>
</ul>
<script>
$(function() {
    $('.eq').hover(function() {
        $(this).addClass('on');
    }, function() {
        $(this).removeClass('on')
    });
})
</script>