<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <title id="aapp">
        <%= title %>
    </title>
    <meta name="keywords" content="MEAP移动应用开发平台,EMM移动应用管理平台,AppCan企业移动平台,移动云平台,SDK,MAS,MBaaS,MCM,MAM,MEM" />
    <meta name="description" content="AppCan产品&服务包括MEAP移动应用开发平台、EMM移动应用管理平台、企业移动平台安全体系、移动云平台等。">
    <meta name="author" content="">
    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.css" rel="stylesheet">
    <link href="http://appcan.cn/css/newHeader-tomobi.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/footer-tomobi.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/appcanstyle.css" rel="stylesheet" />
    <link href="http://appcan.cn/css/appcanmain.css" rel="stylesheet" />
    <link href="/css/newslist.css" rel="stylesheet">
    <link href="/css/zstyle.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://appcan.cn/js/sso.js"></script>
    <script src="/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="to-scroll">
        <% include ./FooterAndHeader/newHeader-tomobi.html %>
        <div class="navbar navbar-duomi navbar-static-top" role="navigation">
            <div class=" navbar-end" style="background: url(/images/zzbanner1.jpg) no-repeat #257CEF;background-position: center;">
            </div>
        </div>
        <div class="container container-body ">
            <div class="row">
                <div class="col-md-3 col-md-3-pad hidden-sm hidden-xs" style="padding-left:15px;padding-right:15px">
                    <% include ./productSystem_menu.html %>
                </div>
                <div id="Content" class="col-md-9 col-sm-12 col-xs-12" style="padding-left:15px;padding-right:15px">
                    <div id="zmain">
                        <h2>全场景的移动服务+全生命周期的移动产品体系</h2>
                        <div class="z-row1">
                            <div class="a-left">
                                <div class="top v">AppCan 开发者服务<div class="ball"></div></div>
                                <div class="txt">
                                    免费、开源、开放，<br>HTML5+CSS3+JS，一次开发，<br>多平台，多入口，全适配。
                                </div>
                            </div>
                            <div class="a-right bg1"><div class="h"></div>
                                <a href="http://newdocx.appcan.cn/newdocx/docx?type=1235_1234"><div class="box p0">IDE</div></a>
                                <a href="http://newdocx.appcan.cn/"><div class="box p1">文档</div></a>
                                <a href=""><div class="box p2">云编译</div></a>
                                <a href="http://bbs.appcan.cn/"><div class="box p3">社区</div></a>

                            </div>
                        </div>
                        <div class="z-row2">
                            <div class="a-left cp">
                                <div class="top c">AppCan  Cloud   移动云服务<div class="ball"></div></div>
                                <div class="txt">
                                    云端一体，生态协同。<br>多租户，随需而用，<br>支持个性化和私有化部署。
                                </div>
                            </div>
                            <div class="a-right bg2"><div class="h"></div>
                                <div class="box2-1 border-solid">协同开发云平台</div>
                                <div class="box2-3 border-solid">
                                    <p>SaaS应用</p>
                                    <div class="wrap">
                                        <div class="cell border-dashed">移动OA</div>
                                        <div class="cell border-dashed">移动电商</div>
                                        <div class="cell border-dashed">移动CRM</div>
                                        <div class="cell border-dashed">社区O2O</div>
                                    </div>
                                    <div class="wrap-r border-dashed">...</div>
                                </div>
                                <div class="box2-2 border-solid">应用管理云平台</div>
                                <div class="box2-4 border-solid">
                                    <p>PaaS能力平台</p>
                                    <div class="cell border-dashed a1">IM</div>
                                    <div class="cell border-dashed">存储</div>
                                    <div class="cell border-dashed">推送</div>
                                    <div class="cell border-dashed a4">...</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="z-row3">
                            <div class="a-left cp">
                                <div class="top p">AppCan企业移动应用平台<div class="ball"></div></div>
                                <div class="txt">
                                    是企业移动战略的核心,<br>覆盖移动应用全生命周期管理：<br>应用开发-集成整合-部署实施-运维管理，<br>加速企业移动化建设步伐。
                                </div>
                            </div>
                            <div class="a-right bg3"><div class="h"></div>
                                <a href="http://enterprise.appcan.cn/productSystem/115"><div class="box3-1 border-solid">SDK  企业版</div></a>
                                <div class="box3-2 border-solid">
                                    <a href="http://enterprise.appcan.cn/productSystem/267"><p>EMM企业移动管理平台</p></a>
                                    <a href="http://enterprise.appcan.cn/productSystem/324"><div class="cell border-solid">MAM</div></a>
                                    <a href=""><div class="cell border-solid">MPM</div></a>
                                    <a href="http://enterprise.appcan.cn/productSystem/137"><div class="cell border-solid">MCM</div></a>
                                    <a href="http://enterprise.appcan.cn/productSystem/325"><div class="cell border-solid">MEM</div></a>
                                    <a href="http://enterprise.appcan.cn/productSystem/346"><div class="cell border-solid">MUM</div></a>
                                    <a href=""><div class="cell border-solid">EAS</div></a>
                                </div>
                                <div class="box3-3 border-solid">
                                    <a href="http://enterprise.appcan.cn/productSystem/266"><p class="p1">MAS</p>
                                    <p class="p2">整合系统</p></a>
                                </div>
                                <a href="http://enterprise.appcan.cn/productSystem/326"><div class="box3-4 border-solid">完整的移动安全体系</div></a>
                                
                            </div>
                        </div>
                        <h2>技术趋势&行业报告</h2>
                        <div class="qushi">
                            <video controls preload="none" poster="/images/appcan.png" >
                                <source src="/i/appcan.mp4" type="video/mp4">
                                <source src="/i/appcan.ogg" type="video/ogg">
                                
                                
                            </video>
                            <div class="books">
                                <div class="part">
                                    <div class="title">IDC移动平台白皮书</div>
                                    <ul>
                                        <li>移动平台重要性</li>
                                        <li>移动平台的选型和实施</li>
                                        <li>移动平台的价值收益</li>
                                    </ul>
                                    <a href="http://www.appcan.cn/activities/baipishu.html" class="click">了解详情</a>
                                </div>
                                <div class="part d">
                                    <div class="title">移动平台-互联网+的基石</div>
                                    <ul>
                                        <li>企业移动化的选型策略</li>
                                        <li>行业移动应用全景图</li>
                                        <li>行业解决方案示例</li>
                                    </ul>
                                    <a href="http://www.appcan.cn/activities/newBook.html" class="click">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <% include ./FooterAndHeader/footer-tomobi.html %>


    </div>
</body>
<script>
$(function () {
	var u=location.href;
	var reg=/\/(\d+)$/;
	reg.test(u);
	var mc=RegExp.$1;
	

	if ((mc==113)||(mc==115)||(mc==266)||(mc==323)) {$('#systemSetting').addClass('in');$('.xiala1').removeClass('collapsed').children('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');};
	if ((mc==116)||(mc==137)||(mc==324)||(mc==325)||(mc==346)||(mc==267)) {$('#configSetting').addClass('in');$('.xiala2').removeClass('collapsed').children('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');};
	$('.nav-header').click(function(event) {

		if ($(this).hasClass('collapsed')) {
			$(this).children('i').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
		}else{
			$(this).children('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
		}
		
	});

    //-----
    $('.top').hover(function() {
        $(this).addClass('on');
        $(this).children('.ball').addClass('on');
    }, function() {
        $(this).removeClass('on');
        $(this).children('.ball').removeClass('on');
    });

    $('.box').hover(function() {
        $(this).addClass('on');
    }, function() {
        $(this).removeClass('on');
    });

})
</script>
</html>