
<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
    <li><a style="font-size:16px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;font-weight: bold;">
                                产品体系       
                            </a></li>
    <li>
        <a style="font-size:14px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;font-weight: normal;">
                                AppCan 移动平台       
                            </a>
    </li>
    <li>
        <a href="#systemSetting" class="nav-header collapsed xiala1" data-toggle="collapse">
            <span onclick="location.href='http://enterprise.appcan.cn/productSystem/113'">AppCan MEAP企业移动应用开发平台</span>
            <i class="pull-right glyphicon glyphicon-chevron-right"></i>
        </a>
        <ul id="systemSetting" class="nav nav-list secondmenu collapse">
            <li class="asd"><a href="/productSystem/115" style="padding-left:34px">&nbsp;-SDK 移动应用开发系统</a></li>
            <li class="asd"><a href="/productSystem/266" style="padding-left:34px">&nbsp;-MAS 移动业务整合系统</a></li>
            <li class="asd"><a href="/productSystem/323" style="padding-left:34px">&nbsp;-MBaaS 移动后端服务系统</a></li>
        </ul>
    </li>
    <li>
        <a href="#configSetting" class="nav-header collapsed xiala2" data-toggle="collapse">
            <!-- <i class="glyphicon glyphicon-credit-card"></i> -->
            <span onclick="location.href='http://enterprise.appcan.cn/productSystem/267'">AppCan EMM企业移动管理平台</span>
            <i class="pull-right glyphicon glyphicon-chevron-right"></i>
        </a>
        <ul id="configSetting" class="nav nav-list secondmenu collapse">
            <li class="asd"><a href="/productSystem/116" style="padding-left:34px">&nbsp;-MDM 移动设备管理系统</a></li>
            <li class="asd"><a href="/productSystem/137" style="padding-left:34px">&nbsp;-MCM 移动内容管理系统</a></li>
            <li class="asd"><a href="/productSystem/324" style="padding-left:34px">&nbsp;-MAM 移动应用管理系统</a></li>
            <li class="asd"><a href="/productSystem/325" style="padding-left:34px">&nbsp;-MEM 移动邮件管理系统</a></li>
            <li class="asd"><a href="/productSystem/346" style="padding-left:34px">&nbsp;-MUM 移动用户管理系统</a></li>
        </ul>
    </li>
    <li>
        <a href="/productSystem/326" class="nav-header collapsed xiala3">                               
                                AppCan企业移动平台安全体系
                                 <i class="pull-right glyphicon glyphicon-chevron-right"></i>
                            </a>
    </li>

    <li>
        <a href="http://enterprise.appcan.cn/productSystem/354" style="font-size:14px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;">
                                     AppCan 移动云平台
                            </a>
    </li>
</ul>