
<ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
<li>
    <a style="font-size:16px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;">
        解决方案		
    </a>
</li>
<li>
    <a href="#systemSetting" class="nav-header collapsed xiala1" data-toggle="collapse">
        行业类型
   <i class="pull-right glyphicon glyphicon-chevron-right"></i>
    </a>
    <ul id="systemSetting" class="nav nav-list secondmenu collapse" >
        <li class="asd"><a href="/solution?id=329" style="padding-left:34px">&nbsp;物流行业</a></li>
        <li class="asd"><a href="/solution?id=328" style="padding-left:34px">&nbsp;能源行业</a></li>
        <li class="asd"><a href="/solution?id=270" style="padding-left:34px">&nbsp;运营商</a></li>
        <li class="asd"><a href="/solution?id=269" style="padding-left:34px">&nbsp;航空行业</a></li>
        <li class="asd"><a href="/solution?id=268" style="padding-left:34px">&nbsp;电子政务</a></li>
        <li class="asd"><a href="/solution?id=140" style="padding-left:34px">&nbsp;金融行业</a></li>
    </ul>
</li>


<li>
    <a href="/solution?id=solution" class="nav-header collapsed xiala3" >
        
        客户名录
		 <i class="pull-right glyphicon glyphicon-chevron-right"></i>
    </a>
</li>
<li>
    <a href="/solution?id=85" class="nav-header collapsed xiala3" >
        
        经典案例
         <i class="pull-right glyphicon glyphicon-chevron-right"></i>
    </a>
</li>
<li>
    <a style="font-size:18px;background:#fbfbfb;border:1px solid #e5e5e5;color:#000;padding: 10px 8px 10px 20px;">
             &nbsp;
    </a>
</li>