<div id="header" class="uh t-wh c-blu">
    <div class="ccen">
        <div class="ufl ulev12 t-gra2 uinnl1 s6"><a href="http://www.appcan.cn">切换到Appcan主站</a></div>
        <div class="ufr umw4  tx-l" ontouchstart="zy_touch('btn-act')" onclick="">
            <div id="login" class="ulev-1 tx-l ufl" onmousedown=""><a id="denglu" href="javascript:SSO.loginL();">登录</a>&nbsp;|&nbsp;</div>
            <div id="register" class="ulev-1"><a href="server_content.html" style="font-size:14px;">注册</a>&nbsp;</div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="ccen uof" style="height:90px;background-color:#FFFFFF;">
    <div id="logo" class="ufl"><img src="images/index_logo.png" style="height:90px;border:0px;"></div>
    <div id="content_a" class="ulev0 ufr tx-cu" style="margin-top:20px;">
        <div class="ulev0 ufl uw4" id="content_a_qycp"><a class="cpa  tx-c" href="index.html">企业产品</a></div>
        <div class="ulev0 ufl  uw4  c-o" id="content_a_khal"><a class="cpa tx-c" href="Example.html">客户案例</a></div>
        <div class="ulev0 ufl uw4" id="content_a_fwpt"><a class="cpa tx-c" href="javascript:;" onclick="js_method();">服务平台</a></div>
    </div>
    <div class="clear"></div>
</div>