<div id="scro" style="">
    <div class="toubu" style="">
        <div style="background-color:#3565a3">
            <div id="header_tiao" class="hp_fix" style="min-width:1200px;margin-left:auto;margin-right:auto;">
                <div class="contenters">
                    <div class="smallSpan ufl" id="logfailedId" style="margin-left: 20px;"><span class="c_wh c_wh1">Hi~ </span><span class="c_wh c_wh2"><a class="aTextDex" href="http://newsso.appcan.cn/login?service=" id="login">请登录</a></span><span class="c_wh c_wh2 c_wh3"><a class="aTextDex" href="http://dashboard.appcan.cn/register" id="register">马上注册 </a></span></div>
                    <div class="smallSpan ufl huanyingni ul_display_none" id="logSuccessId"><span id="userNameId"><a href="http://dashboard.appcan.cn/user"></a></span><span>-</span><span><a href="newsso.appcan.cn/logout?service=http://edu.appcan.cn/">退出</a></span></div>
                    <div>
                        <ul id="head-ul">
                            <li><a href="http://dashboard.appcan.cn/app">开发</a></li>
                            <li><a href="http://newdocx.appcan.cn/">文档</a></li>
                            <li><a href="http://plugin.appcan.cn/">插件</a></li>
                            <li><a href="http://appcan.cn/appshow/">案例</a></li>
                            <li style="margin-right:10px;"><a href="http://bbs.appcan.cn/">社区</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="background-color:#fff;">
            <div class="lgmenu_fix" style="background-color:#fff;min-width:1200px;margin-left:auto;margin-right:auto;">
                <div class="contenters">
                    <div id="logos_menu" class="ul_margin_top">
                        <a href="http://www.appcan.cn">
                            <div class="logos logos1 ul_float_left"></div>
                        </a>
                        <div class="menu_center">
                            <ul id="header_menu">
                                <li style="height:30px;"><a id="hover-li" class="pro_menu" href="http://www.appcan.cn" value="1"><span class="lanmu" style="margin-right:35px;margin-left:35px;">首页</span></a>
                                    <div style="height:3px;margin-top:27px;"></div>
                                </li>
                                <li style="height:30px;" class="hover-li"><a id="cloud_page" href="http://enterprise.appcan.cn/productSystem/index" value="2"><span class="lanmu">产品&amp;服务</span></a>
                                    <div style="height:3px;margin-top:27px;" class="head-li-div"></div>
                                </li>
                                <li style="height:30px;" class="hover-li"><a id="" href="http://www.zyhao.com" value="3"><span class="lanmu">正益工场</span></a>
                                    <div style="height:3px;margin-top:27px;"></div>
                                </li>
                                <li style="height:30px;" class="hover-li"><a id="" href="http://cloud.zyhao.com/" value="4"><span class="lanmu">正益工作</span></a>
                                    <div style="height:3px;margin-top:27px;"></div>
                                </li>
                                <li style="height:30px;" class="hover-li">
                                    <a id="learn_page" href="http://edu.appcan.cn/stu-center.html" value="5"> <span class="lanmu">学习中心</span> </a>
                                    <div style="height: 3px; margin-top: 27px;"></div>
                                </li>
                                <li style="height:30px;" class="hover-li"><a id="deve_page" href="http://dashboard.appcan.cn/app/manage" value="6"><span class="lanmu">开发者中心</span></a>
                                    <div style="height:3px;margin-top:27px;"></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:120px;min-width:1200px;padding:0px;;top:0px;margin-left:auto;margin-right:auto;"></div>
    <div class="sonMenu" style="background-color:#f5f5f5;">
        <div class="contenters position-father" style="min-width:1200px;">
            <div class="head-class position1" style="height: 230px; display: none; background-color: rgb(245, 245, 245);">
                <ul class="ufl" style="margin-top:40px;margin-left:20px;">
                    <li style=";line-height:16px"><a class="plat_introduce" style="font-size:16px;color:#000000" href="http://enterprise.appcan.cn/productSystem/113">MEAP企业移动应用平台</a></li>
                    <li class="rele" style="margin-top:15px;line-height:14px;"><a class="video_tutorial" href="http://enterprise.appcan.cn/productSystem/115">-SDK&nbsp;移动应用开发系统</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/productSystem/266">-MAS 移动业务整合系统</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/productSystem/323">-MBaaS 移动后端服务系统</a></li>
                    <li style="margin-top:20px;line-height:16px;"><a class="setup_down" style="font-size:16px;color:#000000" href="http://enterprise.appcan.cn/productSystem/326">企业移动平台安全体系 </a></li>
                </ul>
                <ul class="ufl ml25" style="margin-top:40px;margin-right">
                    <li style="margin-top:;line-height:16px;"><a class="setup_down" style="color:#000000;font-size:16px;" href="http://enterprise.appcan.cn/productSystem/267">EMM企业移动管理平台</a></li>
                    <li style="margin-top:15px;line-height:14px;"><a id="skill_bbs" href="http://enterprise.appcan.cn/productSystem/381">-EAS&nbsp;EAS 移动应用商店</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a id="join_us" href="http://enterprise.appcan.cn/productSystem/116">-MDM&nbsp;移动设备管理系统</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a id="join_us" href="http://enterprise.appcan.cn/productSystem/137">-MCM&nbsp;移动内容管理系统</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a id="join_us" href="http://enterprise.appcan.cn/productSystem/324">-MAM&nbsp;移动应用管理系统</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a id="join_us" href="http://enterprise.appcan.cn/productSystem/325">-MEM&nbsp;移动邮件管理系统</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a id="join_us" href="http://enterprise.appcan.cn/productSystem/346">-MUM&nbsp;移动用户管理系统</a></li>
                </ul>
                <ul class="ufl ml25" style="margin-top:40px;">
                    <li style="line-height:16px;"><a class="setup_down" style="color:#000000;font-size:16px;" href="http://enterprise.appcan.cn/productSystem/354">移动云平台</a></li>
                    <a href="http://enterprise.appcan.cn/productSystem/354"><img src="http://www.appcan.cn/images/13ow_06.png" style="margin-top:15px;" alt="SDK移动应用开发系统"></a>
                </ul>
                <ul class="ufl ml99" style="margin-top:40px;">
                    <li style="margin-top:;line-height:16px;"><a class="setup_down" style="color:#000000;font-size:16px;" href="http://enterprise.appcan.cn/solution/329">行业解决方案</a></li>
                    <li style="margin-top:15px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/solution/329">-物流行业</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/solution/328">-能源行业</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/solution/270">-运营商</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/solution/269">-航空行业</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/solution/268">-电子政务</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a class="js_sdk" href="http://enterprise.appcan.cn/solution/140">-金融行业</a></li>
                </ul>
                <ul class="ufl" style="margin-top:40px;margin-left:80px;">
                    <li style="color:#3565a3;line-height:16px"><a class="setup_down" style="font-size:16px;color:#000000;" href="http://enterprise.appcan.cn/solution/solution">客户名录</a><a class="setup_down" style="margin-left:70px;font-size:16px;color:#000000;" href="http://enterprise.appcan.cn/solution/85">经典案例</a></li>
                    <li style="margin-top:15px">
                        <a href="http://enterprise.appcan.cn/solution"><img src="http://www.appcan.cn/images/13ow_03.png" alt="SDK移动应用开发系统"></a>
                    </li>
                </ul>
            </div>
            <div class="head-class position2" style=""></div>
            <div class="head-class position2" style=""></div>
            <div class="head-class position2" style="height: 230px; display: none; background-color: rgb(245, 245, 245);">
                <ul class="ufl" style="margin-top:40px; margin-left:20px;">
                    <li style="font-size:16px;"><a style="font-size:16px;color:#000000" href="http://edu.appcan.cn/train_outline1.html" target="_blank">免费培训</a></li>
                    <li style="margin-top:15px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/train_outline1.html ">-培训区域</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/train_outline3.html">-培训留念</a></li>
                </ul>
                <ul class="ufl ml27" style="margin-top:40px;">
                    <li style="font-size:16px;"><a style="font-size:16px;color:#000000" href="http://edu.appcan.cn/video1.html" target="_blank">在线学习</a></li>
                    <li style="margin-top:15px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/video1.html?big_type=%u524D%u7AEF%u5F00%u53D1&amp;small_all=allon">-前端开发</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/video1.html?big_type=%u63A5%u53E3%u5F00%u53D1 ">-接口开发</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/video1.html?big_type=%u4E91%u7AEF%u5F00%u53D1">-云端开发</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/video1.html?big_type=%u79FB%u52A8%u7BA1%u7406%u5E73%u53F0">-移动管理平台</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/video1.html?big_type=%u9879%u76EE%u5B9E%u6218&amp;small_all=allon&amp;level=">-项目实战</a></li>
                </ul>
                <ul class="ufl ml27" style="margin-top:40px;">
                    <li style="font-size:16px;"><a style="font-size:16px;color:#000000" href="http://edu.appcan.cn/exam_about.html " target="_blank">考试认证</a></li>
                    <li style="margin-top:15px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/exam_about.html ">-考试介绍</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/exam_page.html ">-在线考试</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/exam_test.html ">-在线练习</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/certificate.html ">-证书查询</a></li>
                </ul>
                <ul class="ufl ml27" style="margin-top:40px;">
                    <li style="font-size:16px;"><a style="font-size:16px;color:#000000" href="http://edu.appcan.cn/centerThings.html" target="_blank">中心概况</a></li>
                    <li style="margin-top:15px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/centerThings.html">-中心简介</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/famous_teacher.html ">-名师风采</a></li>
                    <li style="margin-top:10px;line-height:14px;"><a style="font-size:14px;" class="js_sdk" href="http://edu.appcan.cn/train_cooperate.html  ">-培训合作</a></li>
                </ul>
                <ul class="ufl ml27" style="margin-top:40px;">
                    <li style="font-size:16px;"><a style="font-size:16px;color:#000000" href="http://edu.appcan.cn/tecenter_index.html" target="_blank">教师中心</a><a style="margin-left:113px;font-size:16px;color:#000000" href="http://bbs.appcan.cn/forum.php?mod=forumdisplay&amp;fid=143">问答Q&amp;A</a></li>
                    <li style="margin-top:15px;">
                        <a href="http://edu.appcan.cn/Wanted.html#talents_order"><img src="http://www.appcan.cn/images/learn_cen.png" alt="SDK移动应用开发系统"></a>
                    </li>
                </ul>
            </div>
            <div class="head-class position3" style="background-color:#f5f5f5;height:230px;">
                <ul class="ufl" style="margin-top:40px;margin-left:20px;">
                    <li><a href="http://dashboard.appcan.cn/app" style="font-size:16px;line-height:16px;color:#000000;">开发管理</a></li>
                    <li style="font-size:14px;line-height:14px;margin-top:10px;"><a class="question_answer" href="http://dashboard.appcan.cn/app">-我的应用</a></li>
                    <li style="font-size:14px;line-height:14px;margin-top:10px;"><a class="question_answer" href="http://dashboard.appcan.cn/plugin">-引擎插件</a></li>
                    <li style="font-size:14px;line-height:14px;margin-top:10px;"><a class="free_px" href="http://dashboard.appcan.cn/transfer">-应用转移</a></li>
                </ul>
                <ul class="ufl ml98" style="margin-left:30px;">
                    <li class="rele" style="margin-top:74px;margin-left:20px;line-height:14px;"><a class="hot_plugins" href="http://newdocx.appcan.cn/newdocx/docx?type=1236_1234">-开发工具</a></li>
                    <li style="margin-left:20px;line-height:14px;margin-top:10px;"><a class="hot_plugins" href="http://dashboard.appcan.cn/portal">-我的门户</a></li>
                </ul>
                <ul class="ufl ml98" style="margin-top:40px;">
                    <li><a href="http://plugin.appcan.cn" style="font-size:16px;line-height:16px;color:#000000;">插件中心</a></li>
                    <li style="line-height:14px;margin-top:15px;"><a id="create_app" href="http://plugin.appcan.cn/index.html#recommend_plugin1">-推荐插件</a></li>
                    <li style="line-height:14px;margin-top:10px;"><a class="question_answer" href="http://plugin.appcan.cn/plugin_list.html#plugin_list1">-插件列表</a></li>
                </ul>
                <ul class="ufl ml98" style="margin-left:30px;">
                    <li class="rele" style="margin-top:74px;margin-left:20px;line-height:14px;"><a class="free_px" href="http://plugin.appcan.cn/create.html#create_plugin1">-创建插件</a></li>
                    <li style="margin-left:20px;line-height:14px;margin-top:10px;"><a class="hot_plugins" href="http://plugin.appcan.cn/my_share.html">-我的分享</a></li>
                </ul>
                <ul class="ufl ml98" style="margin-top:40px;">
                    <li><a href="http://newdocx.appcan.cn" style="font-size:16px;line-height:16px;color:#000000;">文档中心</a></li>
                    <li style="line-height:14px;margin-top:15px;"><a id="create_app" href="http://newdocx.appcan.cn/newdocx/docx?type=1230_1229">-平台概述</a></li>
                    <li style="line-height:14px;margin-top:10px;"><a class="question_answer" href="http://newdocx.appcan.cn/newdocx/docx?type=1235_1234">-开发工具IDE</a></li>
                    <li style="line-height:14px;margin-top:10px;"><a class="question_answer" href="http://newdocx.appcan.cn/newdocx/docx?type=1250_1249">-应用引擎</a></li>
                    <li style="line-height:14px;margin-top:10px;"><a class="question_answer" href="http://newdocx.appcan.cn/newdocx/docx?type=1377_975">-应用插件</a></li>
                </ul>
                <ul class="ufl ml98" style="margin-left:30px;">
                    <li class="rele" style="margin-top:74px;margin-left:20px;line-height:14px;"><a class="free_px" href="http://newdocx.appcan.cn/newdocx/docx?type=1288_1287">-UI基础框架</a></li>
                    <li style="margin-left:20px;line-height:14px;margin-top:10px;"><a class="hot_plugins" href="http://newdocx.appcan.cn/newdocx/docx?type=1255_1254">-JS SDK</a></li>
                    <li style="margin-left:20px;line-height:14px;margin-top:10px;"><a class="hot_plugins" href="http://newdocx.appcan.cn/newdocx/docx?type=1353_1291">-开发指导</a></li>
                    <li style="margin-left:20px;line-height:14px;margin-top:10px;"><a class="hot_plugins" href="http://newdocx.appcan.cn/newdocx/docx?type=1361_1359">-常见问题</a></li>
                </ul>
                <ul class="ufl ml98" style="margin-top:40px;">
                    <li><a href="http://www.appcan.cn/appshow" style="font-size:16px;line-height:16px;color:#000000;"> 案例中心</a></li>
                    <li style="margin-top:15px;">
                        <a class="hot_plugins" href="http://www.appcan.cn/appshow/index.html"><img src="http://www.appcan.cn/images/13ow_07.png" alt="SDK移动应用开发系统"></a>
                    </li>
                </ul>
            </div>
            <div class="head-class position4" style="display:none !important;">
                <div class="overHidden leftPd10 "></div>
            </div>
        </div>
    </div>
    <div class="outMenu"></div>
</div>
<!-- mobile -->
<div class="mob-main hidd" style="border-bottom:1px solid #e7e7e7;">
    <div style="margin:3% 5%;">
        <div class="header-m">
            <div style="width: 34%;float:left;"><img src="http://www.appcan.cn/img/logo.png"></div>
            <div style="width:57%;float:left;">　</div>
            <div id="sidebar" style="float:left;margin-top:2%;" data-toggle="modal" data-target="#sidenav"><img src="http://www.appcan.cn/img/sidebar.png"></div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<div class="modal" id="sidenav" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="sidebar-content" id="sidebar-content">
                    <div class="content-lv1"><a href="http://www.appcan.cn" class="afull">首页</a></div>
                    <div class="content-lv1"><a href="http://enterprise.appcan.cn/productSystem/index">产品&amp;服务</a>
                        <p>+</p>
                    </div>
                    <div class="lv2box">
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/productSystem/113">·　MEAP企业移动应用平台</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/115">　-SDK 移动应用开发系统</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/266">　-MAS 移动业务整合系统</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/323">　-MBaaS 移动后端服务系统</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/productSystem/326">·　企业移动平台安全体系</a></div>
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/productSystem/267">·　EMM企业移动管理平台</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/116">　-MDM 移动设备管理系统</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/137">　-MCM 移动内容管理系统</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/324">　-MAM 移动应用管理系统</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/325">　-MEM 移动邮件管理系统</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/productSystem/346">　-MUM 移动用户管理系统</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/productSystem/354">·　移动云平台</a></div>
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/solution/329">·　行业解决方案</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/solution/329">　-物流行业</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/solution/328">　-能源行业</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/solution/270">　-运营商</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/solution/269">　-航空行业</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/solution/268">　-电子政务</a></div>
                            <div class="content-lv3"><a href="http://enterprise.appcan.cn/solution/140">　-金融行业</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/solution/solution">·　客户名录</a></div>
                        <div class="content-lv2"><a href="http://enterprise.appcan.cn/solution/85">·　经典案例</a></div>
                    </div>
                    <div class="content-lv1"><a class="afull" href="http://zyworks.appcan.cn">正益工场</a></div>
                    <div class="content-lv1"><a class="afull" href="http://cloud.zyhao.com/">正益工作</a></div>
                    <div class="content-lv1"><a href="http://edu.appcan.cn/stu-center.html">学习中心</a>
                        <p>+</p>
                    </div>
                    <div class="lv2box">
                        <div class="content-lv2"><a href="http://edu.appcan.cn/train_outline1.html">·　免费培训</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://edu.appcan.cn/train_outline1.htm">　-培训区域</a></div>
                            <div class="content-lv3"><a href="http://edu.appcan.cn/train_outline3.html">　-培训留念</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://edu.appcan.cn/video1.html">·　在线学习</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://edu.appcan.cn/video1.html?big_type=%u524D%u7AEF%u5F00%u53D1&amp;small_all=allon">　-前端开发</a></div>
                            <div class="content-lv3"><a href="http://edu.appcan.cn/video1.html?big_type=%u63A5%u53E3%u5F00%u53D1 ">　-接口开发</a></div>
                            <div class="content-lv3"><a href="http://edu.appcan.cn/video1.html?big_type=%u4E91%u7AEF%u5F00%u53D1">　-云端开发</a></div>
                            <div class="content-lv3"><a href="http://edu.appcan.cn/video1.html?big_type=%u79FB%u52A8%u7BA1%u7406%u5E73%u53F0">　-移动管理平台</a></div>
                            <div class="content-lv3"><a href="http://edu1.appcan.cn/video1.html?big_type=%u9879%u76EE%u5B9E%u6218&amp;small_all=allon&amp;level=">　-项目实践</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://edu.appcan.cn/centerThings.html">·　中心概况</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://edu.appcan.cn/centerThings.html">　-中心简介</a></div>
                            <div class="content-lv3"><a href="http://edu.appcan.cn/famous_teacher.html">　-名师风采</a></div>
                            <div class="content-lv3"><a href="http://edu.appcan.cn/train_cooperate.html">　-培训合作</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://edu.appcan.cn/Wanted.html#talents_order">·　人才招聘</a></div>
                        <div class="content-lv2"><a href="http://bbs.appcan.cn/forum.php?mod=forumdisplay&amp;fid=143">·　问答中心</a></div>
                    </div>
                    <div class="content-lv1"><a href="http://dashboard.appcan.cn/app/manage">开发者中心</a>
                        <p>+</p>
                    </div>
                    <div class="lv2box">
                        <div class="content-lv2"><a href="http://dashboard.appcan.cn/app/manage">·　开发管理</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://dashboard.appcan.cn/app">　-我的应用</a></div>
                            <div class="content-lv3"><a href="http://dashboard.appcan.cn/plugin">　-引擎插件</a></div>
                            <div class="content-lv3"><a href="http://dashboard.appcan.cn/transfer">　-应用转移</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1236_1234">　-开发工具</a></div>
                            <div class="content-lv3"><a href="http://dashboard.appcan.cn/portal">　-我的门户</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://plugin.appcan.cn/">·　插件中心</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://plugin.appcan.cn/index.html#recommend_plugin1">　-推荐插件</a></div>
                            <div class="content-lv3"><a href="http://plugin.appcan.cn/plugin_list.html#plugin_list1">　-插件列表</a></div>
                            <div class="content-lv3"><a href="http://plugin.appcan.cn/create.html#create_plugin1">　-创建插件</a></div>
                            <div class="content-lv3"><a href="http://plugin.appcan.cn/my_share.html">　-我的分享</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://newdocx.appcan.cn/">·　文档中心</a>
                            <p>+</p>
                        </div>
                        <div class="lv3box">
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1230_1229">　-平台概述</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1235_1234">　-开发工具IDE</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1250_1249">　-应用引擎</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1377_975">　-应用插件</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1288_1287">　-UI基础框架</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1255_1254">　-JS SDK</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1353_1291">　-开发向导</a></div>
                            <div class="content-lv3"><a href="http://newdocx.appcan.cn/newdocx/docx?type=1361_1359">　-常见问题</a></div>
                        </div>
                        <div class="content-lv2"><a href="http://www.appcan.cn/appshow/">·　案例中心</a></div>
                    </div>
                    <div class="content-lv1"><a href="http://bbs.appcan.cn/">社区</a>
                        <p>+</p>
                    </div>
                    <div class="lv2box">
                        <div class="content-lv2"><a href="http://bbs.appcan.cn/forum.php">·　论坛</a></div>
                        <div class="content-lv2"><a href="http://bbs.appcan.cn/home.php?mod=space&amp;do=blog">·　博客</a></div>
                        <div class="content-lv2"><a href="http://edu.appcan.cn/Wanted.html">·　招聘</a></div>
                    </div>
                    <div class="content-lv1"><a class="afull" href="http://newsso.appcan.cn/login?service=http%3A%2F%2Fdashboard.appcan.cn%2Flogin">登录</a></div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
$(function() {
    
    $(window).scroll(function() {
        var x = document.body.scrollLeft + document.documentElement.scrollLeft;
        var barWidth = $(window).width();
        $(".toubu").css("left", -x + "px");
        $(".hd-bar").css("width", barWidth + x + "px");
    })

    $(window).resize(function() {
        var barWidth = $(window).width();
        $(".hd-bar").css("width", barWidth + "px");
    })
    $(function() {

        $(".hover-li").mouseover(function() {
            $(".head-class").eq($(this).index() - 1).css("display", "block");
            $(this).children('div').css("background-color", "#4585d7");
        });

        $(".hover-li").mouseout(function() {
            $(".head-class").eq($(this).index() - 1).css("display", "none");
            $(".hover-li").children('div').css("background-color", "")
        });

        $(".head-class").mouseover(function() {
            $(this).css("display", "block");
            $(".hover-li").eq($(this).index()).children('div').css("background-color", "#4585d7");
        });
        $(".head-class").mouseout(function() {
            $(this).css("display", "none");
            $(".hover-li").eq($(this).index()).children('div').css("background-color", "")
        });

    });

    window.onscroll = function(){
    var x=document.body.scrollLeft+document.documentElement.scrollLeft;
    var barWidth = $(window).width();
    $(".toubu").css("left",-x+"px");
}

$(function(){
    $(".hover-li").mouseover(function(){
        $(".head-class").eq($(this).index()-1).css("display","block");
        $(this).children('div').css("background-color","#3565a3");
        });
    $(".hover-li").mouseout(function(){
        $(".head-class").eq($(this).index()-1).css("display","none");
        $(".hover-li").children('div').css("background-color","")
        });
    $(".head-class").mouseover(function(){
        $(this).css("display","block");
        $(".hover-li").eq($(this).index()+1).children('div').css("background-color","#3565a3");
        });
    $(".head-class").mouseout(function(){
        $(this).css("display","none");
        $(".hover-li").eq($(this).index()+1).children('div').css("background-color","")
        });
});

//@vic v-12.7 10:22

$(window).resize(function () {
    var reWidth=$(window).width();
    if (reWidth < 992 ) {
        $(".mob-main").removeClass("hidd");
        $("#scro").addClass('hidd')
    }else{
        $('#scro').removeClass('hidd');
        $('.mob-main').addClass('hidd')
        $('#sidenav').click();
    }
})

$(window).load(function(){
    var screenWidth = $(window).width();
    if (screenWidth<992) {
        $("#scro").addClass("hidd");
        $(".mob-main").removeClass("hidd");
    }else{
        $("#scro").removeClass("hidd")
    }

    var toscrollHeight = $('.to-scroll').height();
    var wh=$(window).height();
    $('#sidenav .modal-dialog,#sidenav .modal-content').height(wh);
    $('.content-lv1').click(function(event) {
        if(!$(this).hasClass('active')){
            $('.active').next().find('.active2').click();
            $('.active').next().find('.content-lv2').removeClass('active2');
            if($('.active').find('p').text()=="-"){
                $('.active').click();
            }
            $(this).siblings('.content-lv1').removeClass('active');
            $(this).addClass('active')
        }
        $(this).find('a').css('color', '#007eca');
        $(this).css('color', '#007eca');
        if ($(this).find('p').text()=="+") {
            $(this).find('p').text('-').css('font-size', '20px');
                
        }else{
            $(this).find('p').text('+').css('font-size', '12px');
            $(this).find('a').css('color', '#000');
            $(this).css('color', '#000');
        }
    });
    $('.content-lv2').click(function(event) {
        if(!$(this).hasClass('active2')){
            if($(this).parent().find('.active2').find('p').text()=="-"){
                $('.active2').click();
            }
            $(this).siblings('.content-lv2').removeClass('active2');
            $(this).addClass('active2')
        }
        $(this).find('a').css('color', '#007eca');
        $(this).find('p').css('color', '#007eca');
        if ($(this).find('p').text()=="+") {
            $(this).find('p').text('-').css('font-size', '20px');
        }else{
            $(this).find('p').text('+').css('font-size', '12px').css('color', '#000');
            $(this).find('a').css('color', '#666');

        }
    });
    $('.content-lv3').click(function(event) {
            $(this).find('a').css('color', '#007eca');
            $(this).css('color', '#007eca');
    });
    
    $('#sidebar').click(function(event) {
        $('body').animate({right: '72%'}, 1000,'swing');
        var h=$(window).height();
        var w=$(window).width();
        ww=w;
        mgl=w*0.28;
        w=w*0.72;
        $("#sidenav .modal-content,#sidenav .modal-dialog").width(w);
        $("#sidenav .modal-dialog").css('left', ww);
        $("#sidenav .modal-dialog").animate({'left': mgl}, 1000,'swing');

        $('.to-scroll').css("height",h-10);
        //$('.to-scroll').css('overflow','hidden');
        
        // $('.to-scroll').bind('touchmove',function (event) {
        //     event.preventDefault();
        //     //$('.to-scroll').css('overflow','hidden');
        // },false);
    
    });
    $(".sidebar-content").click(function(event) {
        event.stopPropagation();
    });
    $('.content-lv1').click(function(event) {
        $(this).next('.lv2box').toggle();
    });
    $('.content-lv2').click(function(event) {
        $(this).next('.lv3box').toggle();
    });
    
    $('.expline2>div>div').click(function(event) {
        $(this).css('color', '#3565a3').css('background', '#f2f2f2');
        $(this).siblings().css('color', '#666').css('background', '#fff');
        $(this).parent().siblings().find('.appname').css('color', '#666').css('background', '#fff');
    });
    // $('#sidenav').bind('touchmove', function(e) {
    //     e = e || window.event;
    //     var h=$(window).height();
    //     $('.to-scroll').css("height",h);
    //     //$('.to-scroll').css('overflow','hidden');

    // });
    $('#sidenav').click(function(e) {
        //$('#sidenav').unbind('touchmove');
        $('body').animate({right: '0'}, 500,'swing');

        var w=$(window).width();        
        $("#sidenav .modal-dialog").animate({'left': w}, 500,function(){
            $('#sidenav').modal('hide');
        });
        //$('.to-scroll').css('overflow','auto')
        //$('.to-scroll').css('height','auto');
        $('.to-scroll').css('height',toscrollHeight+'px');

        $('#sidenav').click(function(event) {
            event.stopPropagation();
        });

        

    });

})

    //定位js
    $(function() {
        var titleContant = $('title').html();
        var hm = new RegExp('AppCan中国Hybrid混合应用开发|移动云平台的领导者');
        var serviceLight = new RegExp('AppCan产品');
        var learnLight = new RegExp('培训中心|在线学习|学习中心|教师个人');
        var developerLight = new RegExp('文档中心|插件中心|案例展厅');

        if (titleContant.match(hm)) {
            $("#header_menu li").siblings('li').children('div').removeClass('head-li-div');
            $("#header_menu li").eq(0).children('div').addClass("head-li-div");
        } else if (titleContant.match(serviceLight)) {
            $("#header_menu li").siblings('li').children('div').removeClass('head-li-div');
            $("#header_menu li").eq(1).children('div').addClass("head-li-div");
        } else if (titleContant.match(learnLight)) {
            $("#header_menu li").siblings('li').children('div').removeClass('head-li-div');
            $("#header_menu li").eq(3).children('div').addClass("head-li-div");
        } else if (titleContant.match(developerLight)) {
            $("#header_menu li").siblings('li').children('div').removeClass('head-li-div');
            $("#header_menu li").eq(4).children('div').addClass("head-li-div");
        }

    })

    //@vic v-12.23 16:17
    //登录
    var lj=$('#login').attr('href');
    $('#login').attr('href',lj+location.href);
});



var _hmt = _hmt || [];


// //0525百度统计
// (function() {
//   var hm = document.createElement("script");
//   hm.src = "//hm.baidu.com/hm.js?d1cb55eae9757438f24e73fdcedc27c5";
//   var s = document.getElementsByTagName("script")[0]; 
//   s.parentNode.insertBefore(hm, s);
// })();

//20160422 百度商桥
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?d2f8cf438a1c60b4c14e6983620b37ae";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>